# -*- coding:utf-8 -*-

/core
\#*
.\#*
*~
.DS_Store
Thumbs.db
core
TAGS
/dotemacs.d/ac-comphist.dat
/dotemacs.d/url
/dotemacs.d/tramp
/dotemacs.d/elpa
/dotemacs.d/anything-c-adaptive-history
/dotrsense
/src
