[submodule "dotzshrc.d/zaw"]
	path = dotzshrc.d/zaw
	url = https://github.com/zsh-users/zaw.git
[submodule "dotzshrc.d/syntax-highlighting"]
	path = dotzshrc.d/syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "dotzshrc.d/zsh-completions"]
	path = dotzshrc.d/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "dotemacs.d/auto-complete-ts"]
	path = dotemacs.d/auto-complete-ts
	url = https://github.com/kui/auto-complete-ts.git
