[submodule "dotfiles/zshrc.d/zsh-syntax-highlighting"]
	path = dotfiles/zshrc.d/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "dotfiles/zshrc.d/zsh-completions"]
	path = dotfiles/zshrc.d/zsh-completions
	url = git@github.com:zsh-users/zsh-completions.git
[submodule "dotfiles/zshrc.d/zaw"]
	path = dotfiles/zshrc.d/zaw
	url = git@github.com:zsh-users/zaw.git
