#############################################
# パス無しで /start_rbindkeys.sh が出来る必要がある。
# visudo で下記一行を追記する:
# %sudo   ALL=(ALL:ALL) NOPASSWD:/home/kui/.settings/bin/start_rbindkeys.sh
#
[Desktop Entry]
Type=Application
Terminal=false
Exec=sudo /home/kui/.settings/bin/start_rbindkeys.sh
Name=rbindkeys
